*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
pkcscfg.json

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.db
*.dll
*.pdb
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
log/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/